@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    --azul-claro: #B1E4E6;
    --azul-escuro: #283A64;
    --azul-medio: #739DB1;
    --azul-destaque: #1BA7E9;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}


li {
    list-style: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    background-color: var(--azul-claro);
    padding: 0px 80px;
    border-bottom: 2px var(--azul-escuro) solid;
}

.logo img {
    max-width:110px;
    max-height:110px;
    width: auto;
    height: auto;
}

header nav {
    width: 60%;
    padding: 30px 0px 0px 25px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu a {
    padding: 7px 10px;
    font-size: 19px;
    color: var(--azul-escuro);
}

.menu a:hover {
    color: white;
    background-color: var(--azul-destaque);
    border-radius: 5px;
}

.menu li:nth-child(2) {
    padding: 0px 20px;
    border-left: 2px var(--azul-escuro) solid;
    border-right: 2px var(--azul-escuro) solid;
}

.menu li:nth-child(1) {
    padding-right: 20px;
}

.menu li:nth-child(3) {
    padding-left: 20px;
}

                      /*Login*/


section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #3e5282;
    font-family: 'poppins', sans-serif;
}
.form-box{
    position:relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid #B1E4E6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
h2{
    font-size: 2.1em;
    text-align: center;
    color: black;
}
#login .inputbox{
     position: relative;
     margin: 30px 0;
     width: 310px;
}


 .inputbox label{
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}



/*movimentar quando selecionar*/
input:focus ~ label,
input:valid ~ label{
    top: -10px
}


#login .inputbox input{
  width: 100%;  
  height: 50px;
  border-radius: 50px;
 /* background: transparent;*/
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #000000; /*cor da letra*/
  text-align: center;
}

#login .inputbox ion-icon{
    position: absolute;
     top: 50%;
    /*right: 10px;*/
    width: 25px;
    left: 10px;
    color: black;
    font-size: 1.2em;
    top: 15px;
}

.recuperar {
   color:var(--azul-destaque);
   font-size: 12px;
   text-align: center;
}
.recuperar a:hover{
    text-decoration: underline;
}

.btn{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    text-decoration: none;/*sem linha*/
    background-color:#24dbc9;
    color: black;
   /* padding: 15px;*/
    border-radius: 40px;/*arredondar*/
    transition: .5s;
    font-weight: 600;
}
.btn:hover{
    background-color: #1678d3;

}

@media (max-width: 950px) {
    section{
        padding: 30px;
    }
}





footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 80px;
    background-color: var(--azul-claro);
    border-top: 2px var(--azul-escuro) solid;
}

footer h1 {
    font-size: 24px;
}

footer li {
    padding-top: 10px;
    color: var(--azul-escuro);
}

footer li:hover {
    font-weight: bold;
}

@media (max-width: 950px) 
{
    header {
        padding: 0px;
        justify-content: space-around;
    }

    .menu {
        justify-content: start;
    } 

    .menu li:nth-child(2) {
        padding: 0px;
        margin: 2px 0px;
        border: 1px var(--azul-escuro) solid;
        border-radius: 5px;
        text-align: center;
    }
    
    .menu li:nth-child(1) {
        padding: 0px;
        margin: 2px 0px;
        border: 1px var(--azul-escuro) solid;
        border-radius: 5px;
        text-align: center;
    }
    
    .menu li:nth-child(3) {
        padding: 0px;
        margin: 2px 0px;
        border: 1px var(--azul-escuro) solid;
        border-radius: 5px;
        text-align: center;
    }

    .menu a {
        font-size: 15px;
    }

}
